{{#if addNewQuestion}}
  <h1>Ask Something</h1>
      <form>
        <div class="form-group">
          <label for="writer">Your Name</label>
            {{input value=writer id="writer"}}
        </div>
        <br>
        <div class="form-group">
          <label for="content">Question</label>
            {{textarea value=content id="content"}}
        </div>
        <br>
        <button {{action 'save1'}}>Save</button>
      </form>
  {{else}}
    <button class="btn btn-default" {{action 'questionFormShow'}}>New Question</button>
  {{/if}}
