{{#if newAnswerForm}}
  <form>
    <div class="form-group">
      <label for="name">Your Name:</label><br>
      {{input value=name id="name"}}
    </div>
    <div class="form-group">
      <label for="solution">Answer here:</label><br>
      {{textarea value=solution id="solution"}}
    </div>
    <button {{action 'saveAnswer'}}>Add</button>
  </form>
{{else}}
    <button {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
