<h4 class="center">{{question.content}}</h4>
<h3 class="center">-{{question.writer}}</h3>
<br>
<center>{{update-question question=question update="update"}}</center>
<br>
<center>{{#link-to 'question' question.id}} Answers({{question.answers.length}}) {{/link-to}} {{question-pop question}}</center>
